.rootHome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
  background: lightblue;
  color: #264653;
  border-radius: 25px;
  text-align: center;
}

.titleHome {
    font-size: 34px;
    font-family: cursive;
}

.firstdetails {
  direction: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  max-width: 700px;
  width: 400px;
  position: relative;

}

.firstdetails summary {
  width: min-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  self-align: center;
  justify-self: center;
  cursor: pointer;
  white-space: nowrap;
}


